* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #8a92e8;
}

/* Create three unequal columns that floats next to each other */
/* Left column  */
.leftcolumn{
  float: left;
  width: 25%;
  background-color: #8a92e8;
  padding-right: 20px;
}

#opt {
  background-color: #8a92e8;
}

.button {
  background-color: #e7e7e7;
  border: none;
  color: #999999;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Center column */
.centercolumn {
  float: left;
  width: 50%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #8a92e8;
  padding-left: 20px;
}

#file {
  max-width:5000px;
  max-height:5000px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
