{% extends 'layout.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <h1>Edit Administrator Info</h1>
  <div class="form">
  <form action="" method="post" id="create" novalidate>
        {{ form.hidden_tag() }}
        <h1 id="title">Create Administrator</h1>
        <br>
        <br>
        <div class="row" id="r1">
          <div class="col-xs-8 col-lg-offset-2" id="name">
            <div class='form-group'>
                {{ wtf.form_field(form.admin_name, value=admin.name) }}<br>
            </div>
          </div>
        </div>
        <br>
        <div class="row" id="r3">
          <div class="col-xs-8 col-lg-offset-2" id="department">
            <div class='form-group'>
                {{ wtf.form_field(form.admin_department, value=admin.department) }}<br>
            </div>
          </div>
        </div>
        <br>
        <div class="row" id="r4">
          <div class="col-xs-8 col-lg-offset-2" id="email">
            <div class='form-group'>
                {{ wtf.form_field(form.admin_email, value=admin.email) }}<br>
            </div>
          </div>
        </div>
        <br>
        <div class="row" id="r5">
          <div class="col-xs-8 col-lg-offset-2" id="birthday">
            <div class='form-group'>
                {{ wtf.form_field(form.admin_birthday, value=admin.birthday) }}<br>
            </div>
          </div>
        </div>
        <br>
        <div class="row" id="r6">
          <div class="col-xs-8 col-lg-offset-2" id="phone">
            <div class='form-group'>
                {{ wtf.form_field(form.admin_phone, value=admin.phone) }}<br>
            </div>
          </div>
        </div>
        <br>
        <div class="row" id="r7">
          <div class="col-auto" id="create">
            <input class="btn btn-primary" type="submit" value="Create Administrator">
          </div>
        </div>
  </form>
  </div>
{% endblock %}
