{% extends 'layout.html' %}

{% block content %}
<h1>Administrator</h1>
<p>Admin Name: {{admin.name}}</p>
<p>ID: {{admin.id}}</p>
<p>Gender: {{admin.gender}}</p>
<p>Department: {{admin.department}}</p>
<p>Email: {{admin.email}}</p>
<p>Birthday: {{admin.birthday}}</p>
<p>Phone: {{admin.phone}}</p>
<div>
  <a href="{{ url_for('edit', type='Administrator', id=admin.id)}}">
    Edit
  </a>
</div>
<div>
  <a href="{{ url_for('delete', type='Administrator', id=admin.id)}}">
    Delete
  </a>
</div>
<div>
  <a href="{{ url_for('administrator_roster')}}">
    Back
  </a>
</div>
{% endblock %}
