{% extends 'layout.html' %}

{% block head %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/roster.css">
{% endblock %}

{% block app_content %}
<div class="row">
  <div class="leftcolumn">
    <div class="card" id="opt">
      <h1>Course List: </h1>
      <div style="text-align:center">
        <table class="table table-striped" >
          <tr>
            <th>ID</th>
            <th>Course Name</th>
            <th>Day</th>
            <th>Time</th>
          </tr>
          {% for course in courses %}
          <tr class="text-left">
            <td>{{course.uniqueid}}</td>
            <td><a href="{{ url_for('details', type='Course', id=course.id) }}">{{course.name}}</a></td>
            <td>{{course.day}}</td>
            <td>{{course.start_time}}-{{course.end_time}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <a href="{{ url_for('create_course') }}" class="button">
        Add Course
      </a>
    </div>
  </div>
</div>
{% endblock %}
