{% extends 'layout.html' %}

{% block head %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% endblock %}

{% block app_content %}
<div class="row">
  <div class="leftcolumn">
    <div class="card" id="opt">
      <ul>
        <ol><a href="{{ url_for('add_assignment', id=course.id )}}" class="button">Add Assignment</a></ol>
        <ol><a href="{{ url_for('student_course_roster', id=course.id )}}" class="button">Student Roster</a></ol>
        <ol><a href="{{ url_for('gradebooks', id=course.id )}}" class="button">Student Roster</a></ol>
      </ul>
    </div>
  </div>
  <div class="centercolumn">
    <div class="card">
      <h4>Assignments</h4>
        <ul>
          {% for assignment in assignments %}
            <p><a href="{{ url_for('assignment', id=assignment.id )}}">{{assignment.name}}</a></p>
          {% endfor %}
        </ul>
    </div>
    <div class="card">
      <h3>Options</h3>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h1>Course</h1>
      <p>Subject: {{course.subject}}</p>
      <p>Course Number: {{course.number}}</p>
      <p>Course Name: {{course.name}}</p>
      <p>Course ID: {{course.uniqueid}}</p>
      <p>Instructor: {{professor.name}}</p>
    </div>
  </div>
</div>
{% endblock %}
