{% extends 'layout.html' %}

{% block head %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% endblock %}

{% block app_content %}
<div class="row">
  <div class="leftcolumn">
    <div class="card" id="opt">
      <p>Options</p>
    </div>
  </div>
  <div class="centercolumn">
    <div class="card">
      <h4>Assignments</h4>
      <p>No Assignments</p>
    </div>
    <div class="card">
      <h3>Options</h3>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h1>Course</h1>
      <p>Subject: {{course.subject}}</p>
      <p>Course Number: {{course.number}}</p>
      <p>Course Name: {{course.name}}</p>
      <p>Course ID: {{course.id}}</p>
      <p>Instructor: {{professor.name}}</p>
    </div>
  </div>
</div>
{% endblock %}
