{% extends 'layout.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block body %}
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
             data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Novus</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>
  <div class="page-header">
    <h1>GPA</h1>
  </div>
  {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
  {% endif %}

  <p>{{result}}</p>
  <p>
    <a href="{{ url_for('student_roster')}}">
      Back to Roster
    </a>
  </p>
{% endblock %}
