{% extends 'layout.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/common.css">
{% endblock %}

{% block app_content %}

  <div class="page-header">
    <h1>GPA</h1>
  </div>
    <p>Current Grades: {{grade}}</p>
    <p>Number of Classes: {{counter}}</p>
    <p>Current GPA: <strong>{{current_GPA}}</strong></p>
    <p>{{result}}</p>
    <br>
  {% if form %}
    {{ wtf.quick_form(form) }}
    <p><strong>{{result1}}</strong></p>
    <br>
  {% endif %}
  <div class="container" align="left">
  			<embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:1000px'/>
  </div>
  <div class="container" align="left">
  			<embed type="image/svg+xml" src={{graph_data2|safe}} style='max-width:1000px'/>
  </div>
  <p>
    <a href="{{ url_for('index', type='Student', id=student.id)}}" class="button">
      Back
    </a>
  </p>
{% endblock %}
