{% extends 'layout.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

  <div class="page-header">
    <h1>GPA</h1>
  </div>
  {% if form %}
    {{ wtf.quick_form(form) }}
    <p>{{result}}</p>
    <br>
  {% endif %}
  {% if form1 %}
    {{ wtf.quick_form(form1) }}
    <p>{{result1}}</p>
    <br>
  {% endif %}
  <div class="container" align="left">
  			<embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:1000px'/>
  	  </div>
  <p>
    <a href="{{ url_for('student_roster')}}">
      Back to Roster
    </a>
  </p>
{% endblock %}
