{% extends 'layout.html' %}

{% block head %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/gradebook.css">
{% endblock %}

{% block app_content %}
<script type="text/javascript">
  var $TABLE = $('#table');
  var $BTN = $('#export-btn');
  var $EXPORT = $('#export');

  $('.table-up').click(function () {
  var $row = $(this).parents('tr');
  if ($row.index() === 1) return; // Don't go above the header
  $row.prev().before($row.get(0));
  });

  $('.table-down').click(function () {
  var $row = $(this).parents('tr');
  $row.next().after($row.get(0));
  });

  // A few jQuery helpers for exporting only
  jQuery.fn.pop = [].pop;
  jQuery.fn.shift = [].shift;

  $BTN.click(function () {
  var $rows = $TABLE.find('tr:not(:hidden)');
  var headers = [];
  var data = [];

  // Get the headers (add special header logic here)
  $($rows.shift()).find('th:not(:empty)').each(function () {
  headers.push($(this).text().toLowerCase());
  });

  // Turn all existing rows into a loopable array
  $rows.each(function () {
  var $td = $(this).find('td');
  var h = {};

  // Use the headers from earlier to name our hash keys
  headers.forEach(function (header, i) {
  h[header] = $td.eq(i).text();
  });

  data.push(h);
  });

  // Output the result
  $EXPORT.text(JSON.stringify(data));
  });

  function myFunction(id) {
          console.log("hello")
          console.log(id)
      document.getElementById("buttonAppear").innerHTML = '<button onclick="secondFunction('+id+')" id="button_'+id+'">Submit</button>';
  }
  function secondFunction(id){
    var x = document.getElementById("button_"+id);
    var assign_id = document.getElementById("assign_id").innerHTML;
    var grade = document.getElementById('student_grade_'+id).innerHTML;
    console.log(assign_id)
    $.post("/gradebook/"+assign_id,
    {
      id: id,
      grade: grade
    }, function(){
    });
    x.style.display = "none";
  }
</script>

<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">{{assignment.name}}</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fas fa-plus fa-2x"
            aria-hidden="true"></i></a></span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Student ID</th>
          <th class="text-center">Grade</th>
          <th class="text-center">Max Points</th>
          <th class="text-center">Turned In</th>
          <th></th>
        </tr>
        {% for submission in submissions %}
        <tr>
          <td class="pt-3-half" contenteditable="false" id="student_id">{{submission.student_id}}</td>
          <td class="pt-3-half" contenteditable="true" onclick="myFunction({{student.id}})" id="student_grade_{{student.id}}">{{submission.grade}}</td>
          <td class="pt-3-half" contenteditable="false">{{assignment.total}}</td>
          <td class="pt-3-half" contenteditable="false">{{submission.turned_in}}</td>
          <td><span id="buttonAppear"></span></td>
        </tr>
        {% endfor %}
      </table>
      <h4 id="assign_id">{{assignment.id}}</h4>
    </div>
  </div>
</div>
{% endblock %}
