{% extends 'layout.html' %}

{% block head %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
{% endblock %}

{% block app_content %}
<div class="row">
  <div class="leftcolumn">
    <div class="card" id="opt">
      <ul>
        <ol><a href="{{ url_for('user.login') }}" class="button">Sign In</a></ol>
      </ul>
    </div>
  </div>
  <div class="centercolumn">
    <div class="card" id= "d">
      <h2>Student Managament System</h2>
      <h5>Title description, April 30, 2019</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>A degree from one of our schools and colleges transforms your life. We offer more than 100 degree programs at the associate, bachelor’s, master’s, and doctoral levels that prepare you for a lifetime of success. </p>
    </div>
    <div class="card" id= "d">
      <h2>Announcements</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>For this great college tradition, the quad will be transformed for the annual Spring Carnival. Enjoy rides, performers, games, and food novelties!</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card" id= "d">
      <h2>Welcome!</h2>
      <p>Welcome to the university website. Here you are able to access your account. There you will be able to see the courses you are taking, make edits to your account, and sign up for courses.</p>
    </div>
  </div>
</div>

<div class="footer">
  <h3>CUS 1166 Software Engineering</h3>
  <h3>TEAM D- Ryan Macdonald, Andrew Rettko, Tatyana Dunn, Ledong Shi</h3>
</div>
{% endblock %}
