{% extends 'layout.html' %}

{% block body %}
  <h1>Welcome User! </h1>
  <div>
    <a href="{{ url_for('student_login') }}">
      Student Login
    </a>
  </div>
  <div>
    <a href="{{ url_for('professor_login') }}">
      Professor Login
    </a>
  </div>
  <div>
    <a href="{{ url_for('admin_login') }}">
      Administrator Login
    </a>
  </div>
  <div>
    <a href="{{ url_for('student_roster') }}">
      Student Roster
    </a>
  </div>
  <div>
    <a href="{{ url_for('professor_roster') }}">
      Professor Roster
    </a>
  </div>
  <div>
    <a href="{{ url_for('administrator_roster') }}">
      Administrator Roster
    </a>
  </div>
  <div>
    <a href="{{ url_for('course_list') }}">
      Course List
    </a>
  </div>
{% endblock %}
