{% extends 'layout.html' %}

{% block navbar %}
{% endblock %}

{% block body %}
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
             data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> Novus </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>
  <div class="page-header">
    <h1>Welcome User! </h1>
  </div>

  <div>
    <a href="{{ url_for('student_roster') }}">
      Student Roster
    </a>
  </div>
  <div>
    <a href="{{ url_for('professor_roster') }}">
      Professor Roster
    </a>
  </div>
  <div>
    <a href="{{ url_for('administrator_roster') }}">
      Administrator Roster
    </a>
  </div>
  <div>
    <a href="{{ url_for('course_list') }}">
      Course List
    </a>
  </div>
{% endblock %}
