{% extends 'layout.html' %}



{% block content %}

  <div class="page-header">
    <h1>Welcome User! </h1>
  </div>

  <div>
    <a href="{{ url_for('student_roster') }}">
      Student Roster
    </a>
  </div>
  <div>
    <a href="{{ url_for('professor_roster') }}">
      Professor Roster
    </a>
  </div>
  <div>
    <a href="{{ url_for('administrator_roster') }}">
      Administrator Roster
    </a>
  </div>
  <div>
    <a href="{{ url_for('course_list') }}">
      Course List
    </a>
  </div>
{% endblock %}
