{% extends 'bootstrap/base.html' %}

{% block title %} Novus {% endblock %}

{%- block styles %}
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/roster.css">
{%- endblock styles %}

{% block navbar %}
  <nav class="navbar navbar-light" style="background-color: #29309e;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Novus</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/welcome">Sign In</a></li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}
{% block content %}
  <div class="container">
    {% block app_content %}
    {% endblock %}
  </div>
{% endblock %}
