{% extends 'layout.html' %}

{% block app_content %}
<h1>Professor</h1>
<p>Name: {{prof.name}}</p>
<p>ID: {{prof.uniqueid}}</p>
<p>Gender: {{prof.gender}}</p>
<p>Department: {{prof.department}}</p>
<p>Email: {{prof.email}}</p>
<p>Birthday: {{prof.birthday}}</p>
<p>Phone: {{prof.phone}}</p>
<div>
  <a href="{{ url_for('edit', type='Professor', id=prof.id)}}">
    Edit
  </a>
</div>
<div>
  <a href="{{ url_for('delete', type='Professor', id=prof.id)}}">
    Delete
  </a>
</div>
<div>
  <a href="{{ url_for('professor_roster')}}">
    Back
  </a>
</div>
{% endblock %}
