{% extends 'layout.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <h1>Edit Professor Info</h1>
  <form action="" method="post" id="create" novalidate>
        {{ form.hidden_tag() }}
        <h1 id="title">Create Professor</h1>
        <br>
        <br>
        <div class="row" id="r1">
          <div class="col-xs-8 col-lg-offset-2" id="name">
            <div class='form-group'>
                {{ wtf.form_field(form.professor_name, value=professor.name) }}<br>
            </div>
          </div>
        </div>
        <br>
        <div class="row" id="r2">
          <div class="col-xs-8 col-lg-offset-2" id="gender">
            <div class='form-group'>
                {{ wtf.form_field(form.professor_gender, value=professor.gender) }}<br>
            </div>
          </div>
        </div>
        <br>
        <div class="row" id="r3">
          <div class="col-xs-8 col-lg-offset-2" id="department">
            <div class='form-group'>
                {{ wtf.form_field(form.professor_department(value=professor.department)) }}<br>
            </div>
          </div>
        </div>
        <br>
        <div class="row" id="r4">
          <div class="col-xs-8 col-lg-offset-2" id="email">
            <div class='form-group'>
                {{ wtf.form_field(form.professor_email(value=professor.email)) }}<br>
            </div>
          </div>
        </div>
        <br>
        <div class="row" id="r5">
          <div class="col-xs-8 col-lg-offset-2" id="birthday">
            <div class='form-group'>
                {{ wtf.form_field(form.professor_birthday, value=professor.birthday) }}<br>
            </div>
          </div>
        </div>
        <br>
        <div class="row" id="r6">
          <div class="col-xs-8 col-lg-offset-2" id="phone">
            <div class='form-group'>
                {{ wtf.form_field(form.professor_phone, value=professor.phone) }}<br>
            </div>
          </div>
        </div>
        <br>
        <div class="row" id="r7">
          <div class="col-auto" id="create">
            <input class="btn btn-primary" type="submit" value="Create Professor">
          </div>
        </div>
  </form>
{% endblock %}
