{% extends 'layout.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
  <div class="leftcolumn">
    <div class="card" id="opt">
      <h1>Registered Course</h1>
      <div style="text-align:center">
        <table class="table table-striped" >
          <tr>
            <th>ID</th>
            <th>Course Name</th>
            <th>Course Date</th>
          </tr>
          {% for course in registered %}
          <tr class="text-left">
            <td>{{course.id}}</td>
            <td><a href="{{ url_for('details', type='Course', id=course.id) }}">{{course.name}}</a></td>
            <td>{{course.day}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
