{% extends 'layout.html' %}

{% block head %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/roster.css">
{% endblock %}

{% block app_content %}
<div class="row">
  <div class="leftcolumn">
    <div class="card" id="opt">
      <h1>Submissions: </h1>
      <div style="text-align:center">
        <table class="table table-striped" >
          <tr>
            <th>Submission ID</th>
            <th>Student Name</th>
            <th>Points</th>
            <th>Max Points</th>
          </tr>
          {% for submission in submissions %}
          <tr class="text-left">
            <td>{{submission.id}}</td>
            <td><a href="{{ url_for('details', type='Student', id=student.id) }}">{{student.name}}</a></td>
            <td>{{submission.points}}</td>
            <td>{{submission.assign_total}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <a href="{{ url_for('details', type='Student', id=student.id) }}" class="button">
        Back
      </a>
    </div>
  </div>
</div>
{% endblock %}
