{% extends 'layout.html' %}

{% block head %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% endblock %}

{% block app_content %}
<div class="row">
  <div class="leftcolumn">
    <div class="card" id="opt">
      <ul>
        <ol><a href="{{ url_for('index', type='Student', id=student.id )}}" class="button">Profile</a></ol>
        <ol><a href="{{ url_for('edit', type='Student', id=student.id)}}" class="button">Edit Profile</a></ol>
        <ol><a href="{{ url_for('create_course')}}" class="button">Course Sign Up</a></ol>
        <ol><a href="{{ url_for('gradebook')}}" class="button">Gradebook</a></ol>
      </ul>
    </div>
  </div>
  <div class="centercolumn">
    <div class="card">
      <h4>Courses</h4>
      {% for course in courses %}
      <p><a href="{{ url_for('details', type='Course', id=course.id) }}">
                {{course.name}}
      </a></p>
      {% endfor %}
    </div>
    <div class="card">
      <iframe src="https://calendar.google.com/calendar/embed?src=lpokkkjifg2dgut60iq70v8ssg%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="550" height="400" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>{{student.name}}</h2>
      <p>ID: {{student.id}}</p>
      <p>Gender: {{student.gender}}</p>
      <p>Birthday: {{student.birthday}}</p>
      <p>Year: {{student.year}}</p>
      <p>Major: {{student.major}}</p>
      <p>Email: {{student.email}}</p>
      <p>Phone: {{student.phone}}</p>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>
{% endblock %}
