{% extends 'layout.html' %}

{% block head %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/welcome.css">
{% endblock %}

{% block content %}
  <h1>Welcome!</h1>
  <p>Please pick an option:</p>
  <p>
    <a href="{{ url_for('login', type='Student')}}">
        Student
    </a>
  </p>
  <p>
    <a href="{{ url_for('login', type='Professor')}}">
      Professor
    </a>
  </p>
  <p>
    <a href="{{ url_for('login', type='Administrator')}}">
      Administrator
    </a>
  </p>
{% endblock %}
