{% extends 'layout.html' %}

{% block head %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/welcome.css">
{% endblock %}

{% block app_content %}
<div class="container">
  <h1 id="welcome">Welcome!</h1>
  <p id="direction">Please pick an option:</p>
  <div class="row" id="login">
    <div class="col-auto" id="student">
      <a href="{{ url_for('login', type='Student')}}" class="button">
          Student
      </a>
    </div>
    <div class="col-auto" id="professor">
      <a href="{{ url_for('login', type='Professor')}}" class="button">
        Professor
      </a>
    </div>
    <div class="col-auto" id="admin">
      <a href="{{ url_for('login', type='Administrator')}}" class="button">
        Administrator
      </a>
    </div>
  </div>
</div>
{% endblock %}
